a {
    text-decoration: none;
}

.w3-bar {
    font-family: 'Roboto', serif;
}

.nav-info {
    background: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 370px;
}

.logo {
    width: 225px;
    padding: 0;
    margin: 0;
}

.w3-closebtn {
    padding: 10px 0px 5px 0;

}

h1 {
    font-size: 55px;
    font-family: 'Sweet Sensations', serif;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Roboto', serif;
    font-weight: 900;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Bree Serif', serif;
    font-weight: 500;
}

h4 {
    font-family: 'Roboto', serif;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: 'Bree Serif', serif;
    padding: 0;
    margin: 0;
}

h6 {
    font-family: 'Roboto Condensed', serif;
}

p {
    font-family: 'Roboto Condensed', serif;
    font-size: 13px;
}

.product-title {
    letter-spacing: 2px;
}

.w3-modal-content {
    overflow: hidden;
}

.fixed-action-btn {
    position: fixed;
    right: 16px;
    top: 16px;
    margin-bottom: 0;
    z-index: 998;
}

.snipcart-add-item {
    margin-bottom: 10px;
}

.snipcart-total-price {
    font-family: 'Roboto Condensed', serif;
    font-weight: bold;
}
