body {
  background-color: #111;
}

a {
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
}

.brand-title {
  background: url(../assets/img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 370px;
  color: #fff;
  padding: 32px 0px;
}

.margin-fix {
  margin: 32px 16px;
}

.wood-title {
  font-family: 'Open Sans Condensed', serif;
  font-size: 14px;
  letter-spacing: .25px;
}

.w3-btn {
  font-family: 'Roboto', serif;
}

.fixed-action-btn {
  position: fixed;
  right: 16px;
  top: 16px;
  margin-bottom: 0;
  z-index: 998;
}

.fixed-design-btn {
  position: fixed;
  left: 16px;
  top: 16px;
  margin-bottom: 0;
  z-index: 998;
}

.form-text {
  font-family: 'Open Sans', serif;
  letter-spacing: .25px;
}

.snipcart-total-price {
  font-family: 'Open Sans Condensed', serif;
  font-weight: bold;
}

.custom-white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

#snipcart-main-content .custom-snipcart-footer-text {
  background-color: #222;
  font-family: 'Open Sans', serif;
  color: #fff;
  font-size: 13px;
}

h1 {
  font-family: 'Sweet Sensations', serif;
  font-size: 55px;
}

h2 {
  font-family: 'Patua One', serif;
  font-size: 40px;
}

h3 {
  font-family: 'Scope One', serif;
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-family: 'Cabin', serif;
}

h6 {
  font-family: 'Open Sans Condensed', serif;
  letter-spacing: .25px;
}

p {
  font-family: 'Open Sans Condensed', serif;
  font-size: 13.5px;
  letter-spacing: .25px;
}

@media only screen and (max-width: 767px) {
  p {
    font-family: 'Open Sans Condensed', serif;
    font-size: 10.5px;
    letter-spacing: .25px;
  }
}
